@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.cup {
  font-family: "TmoneyRoundWindExtraBold";
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.line {
  font-family: "LINESeedKR-Bd";
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "LINESeedKR-Bd";
  color: #98959a;
  text-align: center;

  /* background-color: #000000;
  color: #ffffff; */
}

.firstbox {
  min-height: 17vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move {
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 600;
}

.move2 {
  min-height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999999;
  color: rgba(43, 13, 113, 0.615);
  font-size: 40px;
  font-family: "LINESeedKR-Bd";
}
.pu {
  display: inline-block;
}

.pupu {
  color: #ad2aff;
  display: inline-block;
  margin-left: 10px;
}

.deco {
  pointer-events: none;
}

.deco--title {
  position: absolute;
  top: 0px;
  right: 60px;
  left: 60px;
  height: 100vh;
  /* background: url(../img/deco.svg) no-repeat center top;
	background-size: 100%; */
}

.slideshow {
  position: relative;
  width: 100vw;
  margin: 10vh 0 5em;
}

.slide {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-align-items: center;
  align-items: center;
  width: 100vw;
  text-align: center;
}

.js .slide {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.slide.slide--current {
  position: relative;
  visibility: visible;
}

/* 사이드 원형 */
.deco--circle {
  position: absolute;
  top: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  border: 5px solid rgba(0, 0, 0, 0.7);
}

.deco--circle-left {
  right: calc(100% - 140px);
}

.deco--circle-right {
  left: calc(100% - 140px);
}

.deco--circle,
.slide__inner {
  width: 450px;
  height: 450px;
}

.slide__item {
  position: relative;
  width: 100%;
}

.no-js .slide__item {
  display: none;
}

.slide__inner {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  pointer-events: auto;
  overflow: hidden;
}
.ho-con {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-61px, -60px);
  max-width: 450px;
  max-height: 450px;
  border-radius: 50%;
  /* object-fit: cover; */
}

.slide__link {
  position: relative;
  max-height: 100%;
  top: 40px;
}

/* 가운데원 색상 변경 */
.deco--expander {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -225px 0 0 -225px;
  border-radius: 50%;
  border: none;
  background: #5911be;
}

/* 하단 설명문장 */
.slide__title {
  position: relative;
  text-indent: 4px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #98959a;
  font-family: "LINESeedKR-Bd";
}

.slide__title--preview {
  font-size: 1.05em;
  margin: 2em 0 0 0;
  padding: 0;
  opacity: 0;
  text-align: center;
}

.slide__title--main {
  font-size: 2.5em;
  line-height: 1;
  margin: 0 0 0.25em;
  color: #464653;
}

.slide--current .slide__title--preview {
  opacity: 1;
}

.slide--open .slide__title--main {
  opacity: 1;
}

/* 하단바 우측 */
.slide__price {
  font-weight: bold;
  display: inline-block;
  color: #5d0093;
}

.slide__price--large {
  font-size: 1.3em;
  vertical-align: middle;
}

.slide__img {
  position: relative;
  display: block;
  margin: 0 auto;
}

.slide__img--small {
  max-height: 80%;
}

.slide__img--large {
  height: 50vh;
  max-height: 400px;
  margin: 0 auto 3em;
}

.action {
  font-size: 1.5em;
  line-height: 54px;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  background: none;
}

.action:focus {
  outline: none;
}

.action--open {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 40px 40px 0;
  color: #fff;
  border-radius: 50%;
  background: #6cd84e;
  -webkit-transition: -webkit-transform 0.1s, background 0.1s, opacity 0.1s;
  transition: transform 0.1s, background 0.1s, opacity 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.action--open:focus,
.action--open:hover {
  background: #464653;
  -webkit-transform: scale3d(1.0865, 1.0865, 1);
  transform: scale3d(1.0865, 1.0865, 1);
}

.slide--open .action--open {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(0.3, 0.3, 1);
  transform: scale3d(0.3, 0.3, 1);
}

.action--close {
  position: fixed;
  z-index: 1001;
  top: 10px;
  right: 15px;
  color: #6cd84e;
  -webkit-transition: -webkit-transform 0.1s, opacity 0.1s, color 0.1s;
  transition: transform 0.1s, opacity 0.1s, color 0.1s;
}

.action--close:focus,
.action--close:hover {
  color: #464653;
}

.slide--open ~ .action--close {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0.5s, 0.5s, 0s;
  transition-delay: 0.5s, 0.5s, 0s;
}

.action--close,
.slide--close ~ .action--close {
  opacity: 0;
  -webkit-transform: scale3d(0.3, 0.3, 1);
  transform: scale3d(0.3, 0.3, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.js .slide__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
}

.js .slide--open .slide__content {
  pointer-events: auto;
  opacity: 1;
}

.slide__content-scroller {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 2em;
  position: relative;
}

.js .slide__content-scroller {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
}

.slide__description {
  font-size: 1em;
  font-weight: bold;
  margin: 0.25em auto 3em;
  text-indent: 4px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #acacb3;
}

.button {
  font-weight: bold;
  margin: 0 1em;
  padding: 0.5em 1em;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #6cd84e;
}

.button:focus,
.button:hover {
  outline: none;
  background: #464653;
}

.navbutton {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 30px;
  margin: 0;
  margin: -50px 0 0 0;
  padding: 0;
  border: none;
  background: none;
}

/* 화살표버튼색깔 */
.navbutton__line {
  /* -webkit-transition: stroke 0.2s;
  transition: stroke 0.2s; */
  font-size: 48px;
  color: rgba(43, 13, 113, 0.615);
}

.b-left {
  /* display: inline-block; */
  transform: rotate(180deg);
}

.navbutton:focus {
  outline: none;
}

.navbutton:hover .navbutton__line {
  stroke: #464653;
}

/* 화살표 위치 변경 */
/* 우측 화살표 */
.navbutton--next {
  /* -webkit-transform: translate3d(250px, 0px, 0); */
  transform: translate3d(250px, 0px, 0);
}

/* 좌측 화살표 */
.navbutton--prev {
  /* -webkit-transform: translate3d(-100%, 0, 0) translate3d(-250px, 25px, 0); */
  transform: translate3d(-100%, 0, 0) translate3d(-250px, 0px, 0);
} /* +12 of difference */

/* Helper classes */

.lockscroll {
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
}

.noscroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
}

.noscroll .deco--expander {
  display: none;
}

.scrollable {
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}

.scrollable .slide__content-scroller {
  position: relative;
}

/* max-width : 800px */
@media screen and (max-width: 50em) {
  .deco--title {
    right: -50px;
    left: -50px;
  }
  .deco--circle,
  .slide__inner {
    width: 260px;
    height: 260px;
  }
  .deco--expander {
    margin: -130px 0 0 -130px;
  }
  .deco--circle-left {
    right: calc(100% - 50px);
  }
  .deco--circle-right {
    left: calc(100% - 50px);
  }
  .slideshow {
    margin-top: 0;
  }
  .action--open {
    margin: 0 12px 12px 0;
  }
  .slide__content-scroller {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .slide__img--large {
    margin: 0 auto 2em;
  }
  .slide__title--preview,
  .slide__title--main {
    font-size: 0.85em;
  }
  .slide__description {
    font-size: 0.5em;
  }
  .navbutton--next {
    display: none;
    /* -webkit-transform: translate3d(75px, -90px, 0) scale3d(0.5, 0.5, 1);
    transform: translate3d(75px, -90px, 0) scale3d(0.5, 0.5, 1); */
  }
  .navbutton--prev {
    display: none;
    /* -webkit-transform: translate3d(-100%, 0, 0) translate3d(-75px, 115px, 0)
      scale3d(0.5, 0.5, 1);
    transform: translate3d(-100%, 0, 0) translate3d(-75px, 115px, 0)
      scale3d(0.5, 0.5, 1); */
  }
  /* 커스텀 */


  .move2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .move {
    font-size: 50px;
  }
  .slide__link {
    top: 20px;
  }

  .ho-con {
    transform: translate(-42px, -40px);
    max-width: 260px;
    max-height: 260px;
  }
}

@media only screen and (max-width: 768px) {
  .cup {
    margin-top: 10px;
  }

  footer {
    font-size: 10px;
  }
}
